@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-secondary to-secondaryDark rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-400 bg-opacity-30;
}

@layer base {
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  menu {
    list-style-type: none;
  }
}

.ProseMirror:focus {
  outline: none;
}
